#이름
name: Deploy to OCI

on:
  push:
    branches: ["main"]

jobs:
  build_push_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Java 17 설정
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      # 스프링 프로젝트 빌드 (Gradle)
      - name: Build Spring Boot Project
        run: |
          chmod +x ./gradlew
          ./gradlew clean build -x test

      # Docker 이미지 빌드 및 Docker Hub 푸시
      - name: Docker Hub 로그인
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker 이미지 빌드 및 푸시
        run: |
          docker buildx create --use
          docker buildx build --platform linux/arm64 -t heetea3174/wait:latest --push .


      # 서버 SSH 접속 후 docker-compose 배포
      - name: OCI 서버 배포
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/app
            ./deploy.sh